#clockContainer{
    position: relative;
    background-color: red;
    height: 45vw;
    width: 45vw;
    background: url(images/clock.png) no-repeat;
    background-size: 100%;
    margin:auto;
}

#hour, #mins, #secs{
    position:absolute;
    background: black;
    border-radius: 10px;
    opacity:0.8;
    transform-origin: bottom;
}

#hour{
    width: 1%;
    height: 23%;
    top: 27%;
    left: 49.7%;
}
#mins{
    width: 0.8%;
    height: 27%;
    top:23%;
    left:49.7%;
}
#secs{
    width: 0.7%;
    height: 31%;
    top:19%;
    left:49.7%;
}
